<html ng-app="test">
  <head>
    <link href="build/panzoomwidget.css" rel="stylesheet" type="text/css">
    <style type="text/css">
		.pan-zoom-frame {
		    border: 2px solid black;
		}
    </style>
  </head>
  <body>

  <div>
    <span my-draggable>Drag ME</span>
  </div>

      <div class="container" ng-controller="MainCtrl">
            <div class="row topRow">
                <h4 class="heading">
                    Drag and drop between the two lists.
                </h4>
            </div>
            
            <div class="row">
                <div class="col-xs-6">
                    <ul ui-on-Drop="onDrop($event,$data,men)">
                        <li ui-draggable="true" drag="man" 
                        on-drop-success="dropSuccessHandler($event,$index,men)"
                        ng-repeat="man in men track by $index">
                            <a>{{man}}</a>
                        </li>
                    </ul>
                </div>
                
            </div>
        

  <div ng-controller="TestController">
     <div style="position:relative">
       
       <panzoomwidget config="panzoomConfig" model="panzoomModel" style="position:absolute;top:10px;left:10px;z-index:1"></panzoomwidget>
       
       <panzoom config="panzoomConfig" model="panzoomModel" style="width:800px; height: 600px">
         <div class="col-xs-6">
                    <ul ui-on-Drop="onDrop($event,$data,women)">
                        <li ui-draggable="true" drag="woman" 
                        on-drop-success="dropSuccessHandler($event,$index,women)"
                        ng-repeat="woman in women track by $index">
                            <a my-draggable>{{woman}}</a>
                        </li>
                    </ul>
                </div>
         <img id="no-pan" my-draggable src="images/shark_attack.jpg" style="position:absolute"/>
         <img id="no-pan" my-draggable src="images/1.jpg" style="position:absolute"/>
         <span my-draggable>hola:S</span>

         <svg style="position:absolute" width="800px" height="600px">
            <rect ng-repeat="rect in rects" ng-attr-x="{{rect.x}}" ng-attr-y="{{rect.y}}" ng-attr-width="{{rect.width}}" ng-attr-height="{{rect.height}}" rx="10" ry="10" style="fill:none;stroke-width:2;stroke:rgb(255,0,0)"/>
        </svg>
             
       </panzoom>
     
     </div>
     <button type="button" class="btn" ng-click="zoomToShark()">Zoom to shark</button>
     <button type="button" class="btn" ng-click="zoomToChopper()">Zoom to chopper</button>
     <button type="button" class="btn" ng-click="zoomToLadder()">Zoom to ladder</button>
   </div>
   </div>
   </body>

    <script src="bower_components/jQuery/dist/jquery.js"></script>
    <script src="bower_components/hamsterjs/hamster.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-mousewheel/mousewheel.js"></script>

    <script src="scripts/directives/panzoom.js"></script>
    <script src="scripts/directives/panzoomwidget.js"></script>
    <script src="scripts/controllers/TestController.js"></script>
    <script src="scripts/directives/dragable.js"></script>
    <script src="scripts/directives/draganddrop.js"></script>
</html>
